@model int

<div class="row">
    <div class="col-6">
        <button style="border-radius:20px; background-color:white; color:#000080" class="form-control" type="submit" asp-route-id="@Model">Update</button>
    </div>
    <div class="col-6">
        <a asp-action="Index" style="border-radius:20px; background-color:white; color:#000080" class="btn form-control"> Back to List</a>
    </div>
</div>