@model AplikasiLaluLintasLapas.Models.ApplicationUser
@using AplikasiLaluLintasLapas.SD

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Edit Profil";
}

<body>
        <div style="align-items:center" class="card shadow border-0 mt-4 p-4">

            <div class="row" style="display:flex; justify-content:center">
                <div class="col-sm-12; col-md-12; col-lg-12;col-xs-12">
                    <div class="card-body p-4 col-lg-12 col-md-12 col-sm-12">

                        <form method="post" enctype="multipart/form-data" class="row">
                            <div class="row p-3 border" style=" border-radius: 20px; background-color: white">

                                <input type="hidden" asp-for="@Model.Email" />

                                <div asp-validation-summary="ModelOnly"></div>

                                <div class="col-12 border-bottom">
                                    <h2 style="text-align: center; color: gray">@title</h2>
                                </div>

                                <div class="mt-2 mb-2" style="align-content:center; text-align:center">
                                    <img src="~/images/icons/user.png" class="col-lg-4 col-md-4; col-sm-2; col-xs-2 text-center rounded" alt="profil">
                                </div>
                                <div style="text-align: center; background-color: gray;" class="col-12 pt-4">
                                    <div style="text-align:center" class="col">
                                        <div class="col-lg-12 form-group row mb-2 mt-2">
                                            <label style="color:white; font-weight:bold;" asp-for="Email"></label>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input asp-for="Email" class="disabled form-control" style="text-align:center" />
                                                <span asp-validation-for="Email" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="text-align:center" class="col">
                                        <div class="col-lg-12 form-group row mb-2 mt-2">
                                            <label style="color:white; font-weight:bold;" asp-for="Nip"></label>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input asp-for="Nip" class="form-control" style="text-align:center" />
                                            </div>
                                        </div>
                                    </div>

                                    <div style="text-align:center" class="col">
                                        <div class="col-lg-12 form-group row mb-2 mt-2">
                                            <label style="color:white; font-weight:bold;" asp-for="Nama"></label>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input asp-for="Nama" class="form-control" style="text-align:center" />
                                            </div>
                                        </div>
                                    </div>

                                    <div style="text-align:center" class="col">
                                        <div class="col-lg-12 form-group row mb-2 mt-2">
                                            <label style="color:white; font-weight:bold;" asp-for="Kontak"></label>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input asp-for="Kontak" class="form-control" style="text-align:center" />
                                            </div>
                                        </div>
                                    </div>

                                    @if (!StaticData.UrlTTd.Equals(""))
                                    {
                                        <div class="col mt-3">
                                            <div class="col-lg-12 form-group row mb-2 mt-2">
                                                <label style="text-align:center; color:white; font-weight:bold;">Gambar</label>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group" style="text-align:center">
                                                    <img src="@Model.UrlTTd" width="20%" ; height="20%"
                                                         style="border-radius:1px; border:1px; color:white;" />
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <div class="col mt-3">
                                        <div class="col-lg-12 form-group row mb-2 mt-2">
                                            <label style="color:white; font-weight:bold;" asp-for="UrlTTd"></label>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="file" name="file" asp-for="UrlTTd" class="form-control" style="text-align:center" />
                                                <span asp-validation-for="UrlTTd" style="color:red"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row mt-3 mb-2">
                                        <div class="col-lg-4 form-group row mb-2">

                                        </div>
                                        <div class="col-lg-12">
                                            <div class="col-12">

                                                @*<partial name="_EditAndBackToListButton" model="@Model.Email" />*@

                                                <button type="submit" class="btn btn-primary form-control"> UPDATE PROFIL </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

            </div>
        </div>
</body>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
